[AMQP]
host=
port=
user=
password=
vhost=

[REDIS]
host=
port=
database=

[MYSQL]
host=
port=
user=
password=

[WATCHER]
server_id=120
only_schemas=
only_tables=
ignored_schemas=
ignored_tables=
heartbeat=10
test_mode=0

[NOTIFICATIONS]
;destination_queue.event_type.database.table.column=\App\MessageClass
;for insert/delete, use "*" as column
;exemples
;my_queue.update.avanis_v2.product_offer.quantity_available=\App\Message1Class
;my_queue.insert.avanis_v2.product_offer.*=\App\Message1Class
;my_queue_bis.delete.avanis_v2.product_offer.*=\App\Message2Class
