DOMAIN=http://engine:8080
COMPOSE_PROFILES=with_grafana
GRAFANA_VERSION=11.6.2
ONCALL_DOCKER_VERSION=v1.16.1
ONCALL_PLUGIN_VERSION=v1.16.1
DYNAMICTEXT_PLUGIN_VERSION=5.7.0
SECRET_KEY=foo
GRAFANA_PASSWORD=admin
ONCALL_API_TOKEN=token_from_http://logs.alltricks.sexy:3000/a/grafana-oncall-app/settings
GRAFANA_CLOUD_ONCALL_HEARTBEAT_ENABLED=false
